* {
    padding: 0;
    margin: 0;
}

/*Nav bar start here*/
.jd-site {
    background: #fff;
    min-height: 140vh;
    width: 100%;
    font-family: 'Ubuntu Mono', monospace;
    margin-top: 0px !important;
    overflow-x: hidden;

}

.js-header {
    background: #fff;
    min-height: 55px;
    box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
    width: 100%;
    right: 0;
    position: fixed;
    z-index: 200;

}

.jd-landing-sect {
    display: flex;
    flex-flow: column;

}


.jd-nav {
    display: flex;
    padding-left: 3%;
}

.jd-nav-menu {
    margin-left: auto;
}

.jd-ul {
    display: flex;
    padding: 10px !important;
    align-items: center;
    float: right;
}

.jd-ul li {
    list-style: none;
    font-size: 20px;
    padding: 10px;
}

.jd-link-item a {
    text-decoration: none;
    color: #000;
}

.jd-link-item a:hover {
    text-decoration: none;
    color: #37BE9E;
    cursor: pointer;
}

.jd-humburger-btn {
    display: grid;
    width: 40px;
    height: 40px;
    place-items: center;
    cursor: pointer;
    padding-top: 12px;
    z-index: 3000;
    position: fixed;
}

.jd-humburger-btn span {
    width: 40px;
    height: 4px;
    background: #37BE9E;
    display: block;
    transition: all 0.4s ease-in-out;
}

.jd-humburger-btn:hover span:nth-child(1) {
    width: 30px;
}

.jd-humburger-btn:hover span:nth-child(2) {
    width: 25px;
}

.jd-humburger-btn.active span:nth-child(1) {
    transform-origin: center center;
    transform: rotate(-45deg) translate(-13px, 10px);
    width: 40px;
}

.jd-humburger-btn.active span:nth-child(2) {
    transform: translateX(10px);
    opacity: 0;
}

.jd-humburger-btn.active span:nth-child(3) {
    transform-origin: center center;
    transform: rotate(45deg) translate(-9px, -6px);
    width: 40px;
}

.jd-humburger-btn .line-1 {
    width: 34px;
    justify-self: start;
}

.jd-humburger-btn .line-2 {
    width: 20px;
    justify-self: start;
}


.jd-logo {
    width: 45px;
    height: 45px;
}

.jd-log-container {
    padding-top: 10px;
    display: grid;
}

.jd-logo-caption {
    text-decoration: none;
    color: black;
    text-align: left;
    font-size: 11px;
    padding-bottom: 4px;

}

@media screen and (min-width: 992px) {
    .jd-humburger-btn {
        display: none;
        transition: all 0.4s ease-in;
    }

}

@media screen and (max-width: 992px) {

    .jd-nav-menu {
        transition: opacity .7s ease-out;
        opacity: 0;
        height: 0;
        overflow: hidden;
    }

    .jd-log-container {

        display: none;
        margin-left: auto;

    }

    .jd-ul {
        display: grid;
        place-items: center !important;
        padding-top: 6%;

    }
}

.jd-nav-menu.active {
    background-color: #fff;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 9%;
    opacity: 1;
    height: auto;
    position: fixed;
    z-index: 2000;
    vertical-align: top;
    margin-left: -3%;
    box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
}

/*user info start here*/

.jd-img-sect {
    padding-left: 5%;
    padding-top: 2%;
    display: flex;
    margin-top: auto;
    margin-bottom: auto;
}

.jd-owner-img {
    width: 42%;
    height: 86%;
    border-radius: 50%;
}

#landing {

    min-height: 100vh;
}

.jd-greeting {
    background: #fff;
    border: 7px #37BE9E solid;
    border-radius: 150px;
    width: 50%;
    height: 30%;
    margin-top: 13%;
    margin-left: -4%;
}

.jd-greetings-h3 {
    font-size: 45px;
    padding: 6%;
}

@media screen and (max-width: 1239px) and (min-width: 967px) {
    .jd-owner-img {
        width: 44%;
        height: 44%;
        border-radius: 50%;
    }

    #landing {
        min-height: 100vh;
    }

    .jd-greeting {
        background: #fff;
        border: 7px #37BE9E solid;
        border-radius: 150px;
        width: 46%;
        height: 40%;
        margin-top: 13%;
        margin-left: -6%;
    }

    .jd-greetings-h3 {
        font-size: 30px;
        padding: 6%;
    }
}

@media screen and (max-width: 967px) and (min-width: 720px) {
    #landing {

        min-height: 100vh;
        ;
    }

    .jd-owner-img {
        width: 50%;
        height: 50%;
        border-radius: 50%;
    }

    .jd-greeting {
        background: #fff;
        border: 7px #37BE9E solid;
        border-radius: 150px;
        width: 50%;
        height: 40%;
        margin-top: 16%;
        margin-left: -6%;
    }

    .jd-greetings-h3 {
        font-size: 26px;
        padding: 7%;
    }

}

@media screen and (max-width: 719px) {
    #landing {

        min-height: 100vh;
    }

    .jd-img-sect {
        padding-left: 2%;
        padding-top: 6%;
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
        text-align: center;
        justify-content: center;
    }

    .jd-owner-img {
        width: 83%;
        height: 83%;
        border-radius: 50%;
        padding-right: 3%;

    }

    .jd-greeting {
        background: #fff;
        border: 7px #37BE9E solid;
        border-radius: 150px;
        width: 80%;
        height: 30%;
        margin-top: 3%;

    }

    .jd-greetings-h3 {
        font-size: 28px;
        padding: 7%;
        margin-right: auto;
        margin-left: auto;

    }


}

@media screen and (max-width: 420px) {
    #landing {

        min-height: 100vh;
    }

    .jd-img-sect {
        padding-left: 2%;
        padding-top: 2%;
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
        text-align: center;
        justify-content: center;
        margin-bottom: 20%;
    }

    .jd-owner-img {
        width: 90%;
        height: 90%;
        border-radius: 50%;
        padding-right: 3%;
    }

    .jd-greeting {
        background: #fff;
        border: 7px #37BE9E solid;
        border-radius: 150px;
        width: 96%;
        height: 27%;
        margin-top: 10%;


    }

    .jd-greetings-h3 {
        font-size: 24px;
        padding: 3%;
        margin-right: auto;
        margin-left: auto;

    }
    .jd-nav-menu.active {
        background-color: #fff;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 9%;
        opacity: 1;
        height: auto;
        position: fixed;
        z-index: 2000;
        vertical-align: top;
        box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
    }

}

@media screen and (max-width: 320px) {
    #landing {

        min-height: 100vh;
    }

    .jd-img-sect {
        padding-left: 2%;
        padding-top: 0%;
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
        text-align: center;
        justify-content: center;
    }

    .jd-owner-img {
        width: 85%;
        height: 85%;
        border-radius: 50%;
        padding-right: 3%;
    }

    .jd-greeting {
        background: #fff;
        border: 7px #37BE9E solid;
        border-radius: 150px;
        width: 87%;
        height: 20%;
        margin-top: 3%;

    }

    .jd-greetings-h3 {
        font-size: 15px;
        padding: 5%;
        margin-right: auto;
        margin-left: auto;

    }
    .jd-perso-info {
        padding-left: 0%;
    }
    .jd-info-content{
        font-size: 13px;
    }

}

/*personal info*/
.jd-intro {
    color: #fff;
    padding-top: 5%;
}

.jd-info-container {
    background-color: black;
    opacity: .8;
    min-height: 460px;
    display: flex;
    align-content: center;
}

.jd-info {
    padding-left: 5%;
    padding-top: 7%;
    padding-bottom: 1%;
    padding-right: 2%;
    display: flex;
    flex-direction: column;
    width: 62%;
}

.jd-info h3 {
    padding-bottom: 3%;
    font-size: 19px;
    font-weight: 100;
}

.jd-info h4 {
    padding-bottom: 3%;
    font-size: 29px;
    font-weight: 300;
    width: 60%;
}

.jd-info p {
    padding-bottom: 3%;
    font-size: 18px;
    font-weight: 100;
    width: 70%;
    color: #fff;
}

.jd-perso-info {
    padding-top: 35%;
}

.jd-perso-info label {
    color: #37BE9E;
    font-size: 19px;
    display: inline-flex;
}

.jd-perso-info ul li {
    list-style: none;
    padding-bottom: 3%;
}

.lbl {
    margin-right: 12px;
    width: 110px;

    justify-content: space-between;
}

@media screen and (max-width: 768px) {
    .jd-info-container {
        background-color: black;
        opacity: .8;
        min-height: 480px;
        display: flex;
        flex-direction: column;
        align-content: center;
        padding: 3%;
    }

    .jd-info {

        padding-top: 3%;
        padding-bottom: 1%;
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
    }

    .jd-perso-info {
        padding-top: 12%;
        padding-left: 4%;
    }

    .jd-info h3 {
        padding-bottom: 10%;
        padding-top: 3%;
    }

    .jd-info h4 {
        padding-top: 3%;
        padding-bottom: 6%;
        width: 100%;
    }

    .jd-info p {
        padding-top: 3%;
        padding-bottom: 3%;
        width: 98%;
        padding-right: 7%;

    }

    .jd-perso-info-cont {
        padding-bottom: 5%;
    }
}

/*skills*/
@media screen and (min-width: 768px) {
    .jd-skillsy {
        padding-top: 2% !important;
        display: flex;
        width: 100%;
        align-items: center;

    }
}

@media screen and (max-width: 768px) {
    .jd-skillsy {
        padding-top: 2% !important;
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;

    }
}

.jd-skills {
    padding: 4%;

}

.js-skill-title {
    margin-left: auto;
    margin-right: auto;
    width: 51%;
    text-align: center;
    color: #37BE9E;
    font-style: bold;
    font-size: 30px;

}

.js-skill-title span {
    border-right: 3px solid #37BE9E;
    border-radius: 1px;
    margin-right: 5px;
}

.jd-skills-box {
    width: 100%;
    min-height: 200px;
    border: 2px solid rgba(0, 0, 0, 0.125);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1%;
    background: #ffff !important;
    color: #000;

}

.jd-skills-box img {
    width: 100px;
    height: 100px;
}

.jd-tech-name {
    font-weight: 100;
    padding-top: 3%;
    opacity: .8;
    font-family: 'Ubuntu Mono', monospace;
    font-size: 22;
}

/*projects start here*/
@media screen and (min-width: 768px) {
    .jd-project-cont {
        padding-top: 2% !important;
        display: flex;
        width: 100%;

    }
}

.jd-projects {
    padding: 4%;
}

.proj-card {
    border: 2px solid rgba(0, 0, 0, 0.125);
    width: 33.99%;
    padding: 3%;
    border-radius: 5px;
    margin: 1%;
}

.image {
    display: flex;
}

.rev {
    width: 100%;
}

.desc {
    padding-top: 3%;

}

.desc p {
    font-weight: lighter;
    font-size: 16px;
}

.links {
    padding-top: 8%;
    ;
}

.links button {
    width: 90px;
    height: 30px;
    background: #37BE9E;
    border: none;
    border-radius: 10px;
}

.links a {
    text-decoration: none;
    color: #fff;
    font-size: 14px;
}

@media screen and (max-width: 768px) {
    .proj-card {
        border: 2px solid rgba(0, 0, 0, 0.125);
        width: 97%;
        padding: 3%;
        border-radius: 5px;
        margin-left: auto;
        margin-right: auto;
    }

    .jd-project-cont {
        padding-right: 8%;
        padding-left: 4%;

    }
}

/*services*/
.jd-services {
    padding: 4%;
}

.services-Icons {
    color: #37BE9E !important;
    font-size: 40px;
}


/*EXPERIENCE*/
.dates {
    float: right !important;
    margin-left: auto;
    padding-bottom: 1%;
    padding-right: 1%;

}

.company {
    float: right !important;
    margin-right: auto;
    padding-bottom: 9%;
    padding-left: 3%;
}


/* contacts*/

@media screen and (min-width: 768px) {
    .contacts-box {
        padding-top: 2% !important;
        display: flex;
        width: 100%;

    }

}

@media screen and (max-width: 768px) {
    .contacts-box {
        padding-top: 2% !important;
        display: flex;
        width: 100%;

    }

    .jd-contacts-cont {
        padding: 4%;
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
    }

    .footer-social-links li {
        list-style: none;
        margin-left: 0%;
        padding-top: 1%;
    }

    .credits {
        display: flex;
        min-height: 200px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        border-top: 3px solid #f4f4f4;
        padding-bottom: 2%;
    }

}

@media screen and (max-width:992px) {
    .btm-menu {
        height: auto !important;
        opacity: 1 !important;

    }
}

.jd-contacts-cont {
    padding: 4%;
    display: flex;
    width: 100%;
}

.icons {
    color: #37BE9E;
    padding-bottom: 2%;
    font: 24px;
}

.love {
    color: orangered;
    font-size: 15px;
}

.credits {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-top: 3px solid #f4f4f4;
    padding-bottom: 2%;
}

.footer-social-links {
    float: right !important;
    display: flex;
    padding-left: 2%;
}

.footer-social-links li {
    list-style: none;
    margin-left: 12%;
    padding-top: 1%;
}

.social-icons {
    font-size: 22px;
    color: #37BE9E;
}

.social-icons:hover {
    cursor: pointer;
    color: #37BE9E;
    text-decoration: none;
}

/*
Login page css starts here
===============================
*/

.Login-site{
    min-height: 80vh;
}
.jd-form-sectioon{
    min-height: 40vh;
    padding-top: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.form{
    display: flex;
    flex-direction: column;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 6%;
    margin-top: 2%;
    box-shadow: 0 2px 4px 0 rgba(181,181,181,.7);
    padding: 3%;
    border-radius: 4px;
    
    
}
.jd-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 70%;
    padding-bottom: 5%;
}
.form input{
    min-height: 30px;
    border: 2px solid #37BE9E;
    border-radius: 7px;
    outline:none;
    padding: 5px;
    margin-top: 3%;

}
.form label{
    margin-top: 14%;;
}

.login-intro{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.login-intro h3{
    font-weight: 300;
    font-size: 23px;
    padding-bottom: 8%;
}
.login-intro span{
    font-weight: 100;
    font-size: 17px;
    padding-bottom: 8%;
}
.sbt-btn{
    margin-top: 14%;
    height: 34px;
    background: #37BE9E;
    color: #fff;
    text-transform: uppercase;
    border: none;
    border-radius: 5px;
    outline: none;
    padding: 7px;
    margin-bottom: 8%;
}

@media screen and (max-width:1230px) and (min-width:967px){
    .form{
        width: 70%;
    }
    .jd-form{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 80%;
        padding-bottom: 5%;
    }
}
@media screen and (max-width:967px){
    .form{
        width: 70%;
    }
    .jd-form{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 90%;
        padding-bottom: 10%;
    }
}
@media screen and (max-width:768px){
    .form{
        width: 85%;
    }
    .jd-form{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 90%;
        padding-top: 10%;
        padding-bottom: 15%;
    }
}
@media screen and (max-width:320px){
    .form{
        width: 98%;
    }
    .jd-form{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 90%;
    }
}

.jd-form.contacts-form{
    
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 90%;
        padding-bottom: 5%;
}
.p-Info {
    display: flex;
    flex-direction: row;
    justify-content: space-between
}
.p-Info input{
    width: 46%;
}
@media screen and (max-width:768px){
    .p-Info {
        display: flex;
        flex-direction: column;
        
    }
    .p-Info input{
        width: 98%;
    }
}
.form textarea{
    min-height: 180px;
    border-radius: 10px;
    border: 2px solid #37BE9E;
    margin-top: 2%;
    padding: 3%;
    margin-bottom: 2%;
    outline: none;
}
.cont-btn{
    background: #37BE9E;
    border: none;
    color: #fff;
    min-width: 20%;
    min-height: 35px;
    border-radius: 7px;

}
